body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #003366; /* Blue background color */
    color: #fff; /* White text color */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
}

.info {
    font-size: 16px; /* Adjust font size */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: #fff; /* White color for icons */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-menu img {
    width: 24px; /* Adjust icon size */
    height: auto;
}

.navbar-menu a:hover img {
    opacity: 0.8; /* Slight opacity change on hover for effect */
}

.fa-house{
    font-size: 20px;
}

.fa-calendar-days{
    font-size: 20px;
}

.fa-person-walking-arrow-right{
    font-size: 20px;
}

body.container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    margin-top: 60px; /* Space between navbar and button columns */
}

.parent-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-button i {
    margin-right: 10px;
}

.parent-button:hover {
    background-color: #004494;
}

.button-columns {
    display: flex;
    justify-content: center;
    gap: 30px; /* Increased space between columns */
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increased space between buttons in a column */
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Center button and icon */
}

.box-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Increased width for uniform button sizes */
    height: 60px; /* Increased height for uniform button sizes */
}

.box-button i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 20px; /* Adjust icon size */
}

.box-button:hover {
    background-color: #0056b3;
}

i {
    font-size: 20px; /* Default icon size */
}

