body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.language-container {
    text-align: center;
    width: 90%;
    max-width: 800px; /* Restrict the width to a maximum value */
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    border-radius: 5px;
}

#hindi-btn{
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}

#english-btn{
border-top-left-radius:15px;
border-bottom-left-radius:15px;
}


.box-button:hover {
    background-color: #0056b3;
}

.main-menu-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-button:hover {
    background-color: #218838;
}

.rules {
    text-align: left;
    margin: 20px auto;
    font-size: 16px;
    display: inline-block;
    max-width: 100%;
}

.rules p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.rules p:last-child {
    border-bottom: none;
}
